In [13]:
import os
import json
import csv
import pandas as pd
import requests
import sqlalchemy

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template

In [2]:
with open('data/samples.json') as json_file: 
    data = json.load(json_file)

In [3]:
metadata_data = data['metadata'] 
samples_data = data['samples']

In [4]:
metadata_data_file = open('data/metadata_data.csv', 'w') 
samples_data_file = open('data/samples_data.csv', 'w')

In [5]:
metadata_csv_writer = csv.writer(metadata_data_file) 
samples_csv_writer = csv.writer(samples_data_file)

In [6]:
count_metadata = 0
count_sample = 0
  
for metadata in metadata_data: 
    if count_metadata == 0: 
  
        # Writing headers of CSV file 
        header = metadata.keys() 
        metadata_csv_writer.writerow(header) 
        count_metadata += 1
  
    # Writing data of CSV file 
    metadata_csv_writer.writerow(metadata.values()) 
  
metadata_data_file.close() 

for sample in samples_data: 
    if count_sample == 0: 
  
        # Writing headers of CSV file 
        header = sample.keys() 
        samples_csv_writer.writerow(header) 
        count_sample += 1
  
    # Writing data of CSV file 
    samples_csv_writer.writerow(sample.values()) 
  
samples_data_file.close()

In [8]:
df_metadata = pd.read_csv("data/metadata_data.csv")
df_samples = pd.read_csv("data/samples_data.csv")

In [9]:
engine = create_engine('sqlite:///data/belly_button.sqlite')
df_metadata.to_sql('sample_metadata', engine, index=False, if_exists='replace')
df_samples.to_sql('samples', engine, index=False, if_exists='replace')

In [10]:
new_df_metadata = pd.read_sql_query('SELECT * FROM sample_metadata',engine)
new_df_metadata.head()

    id              ethnicity gender   age         location bbtype  wfreq
0  940              Caucasian      F  24.0      Beaufort/NC      I    2.0
1  941  Caucasian/Midleastern      F  34.0       Chicago/IL      I    1.0
2  943              Caucasian      F  49.0         Omaha/NE      I    1.0
3  944               European      M  44.0      NewHaven/CT      I    1.0
4  945              Caucasian      F  48.0  Philidelphia/PA      I    1.0

In [11]:
new_df_sample = pd.read_sql_query('SELECT * FROM samples',engine)
new_df_sample.head()

,id,otu_ids,sample_values,otu_labels
0,940,"[1167, 2859, 482, 2264, 41, 1189, 352, 189, 23...","[163, 126, 113, 78, 71, 51, 50, 47, 40, 40, 37...",['Bacteria;Bacteroidetes;Bacteroidia;Bacteroid...
1,941,"[2722, 944, 2419, 2539, 3450, 1795, 2389, 1314...","[194, 178, 162, 92, 84, 40, 37, 28, 27, 24, 21...",['Bacteria;Firmicutes;Clostridia;Clostridiales...
2,943,[1795],[2],['Bacteria;Firmicutes;Bacilli;Bacillales;Staph...
3,944,"[922, 3555, 943, 1013, 1795, 944, 3368, 923, 1...","[278, 33, 19, 18, 11, 8, 7, 5, 5, 5, 4, 4, 4, ...",['Bacteria;Actinobacteria;Actinobacteria;Actin...
4,945,"[944, 1795, 922, 2419, 2859, 943, 2722, 1167, ...","[274, 141, 129, 110, 40, 37, 35, 32, 26, 20, 1...",['Bacteria;Actinobacteria;Actinobacteria;Actin...

In [14]:
engine = create_engine("sqlite:///data/belly_button.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [15]:
Base.classes.keys()

['sample_metadata', 'samples']

In [16]:
Samples_Metadata = Base.classes.sample_metadata
Samples = Base.classes.samples